.logo {
  display: flex;
  margin-right: 30px;
  padding-bottom: 6px;
  @media (max-width: 700px) {
    margin-right: 0;
  }
  h1 {
    font-size: 40px;
    color: #e22727;
    position: relative;
    font-family: 'Dela Gothic One', sans-serif;
    img {
      position: absolute;
      left: 38px;
      top: 14px;
      width: 36px;
      transition: 1s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}
